 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <img alt="python" src="{{ "/assets/icons/python.png" | prepend: site.baseurl }}" width="87px" />
      <img alt="sql" src="{{ "/assets/icons/sql_2.png" | prepend: site.baseurl }}" width="87px" />
      <p>Scheduled scripts are developed using Python for extracting data using API or by scraping websites.</p>
    </div>
    <div class="tech">
      <h2>Libraries</h2>
      <img alt="pandas" src="{{ "/assets/icons/pandas_icon.png" | prepend: site.baseurl }}" width="80px"/>
      <img alt="scikit" src="{{ "/assets/icons/Scikit_learn.png" | prepend: site.baseurl }}" width="90px" />
      <img alt="plotly" src="{{ "/assets/icons/Plotly.png" | prepend: site.baseurl }}" width="90px" />
      <p>For gaining a holistic view of the data gathered powerful libraries are used in coordination with visualization tools.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <img alt="jupyter" src="{{ "/assets/icons/jupyter_small.png" | prepend: site.baseurl }}" width="80px" />
      <p>Scripts are developed and optimized using interactive tools allowing to generate quality code, and perform version control.</p>
    </div>
</div>
