<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{site.email}}">
        <i class="icon fa fa-envelope"></i>
      </a>
      <a aria-label="My LinkedIn" href="https://www.linkedin.com/in/{{site.linkedin_username}}">
        <i class="icon fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a aria-label="My Gitlab" target="_blank" href="https://gitlab.com/{{site.gitlab_username}}">
        <i class="icon fa fa-gitlab" aria-hidden="true"></i>
      </a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
        <i class="icon fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll>
    <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
  </a>
</div>