<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="loto" src="{{ "/assets/img/loto_project.jpg" | prepend: site.baseurl }}" style="padding-top: 50px" />
  </div>
  <div class="contents-left">
    <h3> Loto Project </h3>
    <ul>
      <li> ETL, Data analysis & visualization </li>
    </ul>
    <p>Is there more than luck? Loto is notouriously known for being a game of luck. But what if some number are drawn more
      often than others? For exploring this question, French loto data are regularly scraped from a website using BeautifulSoup,
      cleaned and analyzed using Pandas, and a Plot.ly visualization is regularly updated. </p>
    <a class="project-link" href="https://gitlab.com/DomiPetit/loto">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="currency" src="{{ "/assets/img/currency_project.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Currency Project </h3>
    <ul>
      <li> ETL, Data visualization </li>
    </ul>
    <p>When is it good to travel abroad? For finding out where and perhaps when is the best time to travel outside the euro
      zone, exchange rates from various currencies using the euro as base data are extracted daily. Data are then cleaned
      using pandas, and a plot generated using Plot.ly is regularly updated. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="weather" src="{{ "/assets/img/weather_project.jpg" | prepend: site.baseurl }}" style="padding-top: 50px" />
  </div>
  <div class="contents-left">
    <h3> Weather Project </h3>
    <ul>
      <li> ETL, Data analysis & visualization </li>
    </ul>
    <p>"This is a record year." So many times these words have been pronounced by newscaster concerning the weather. But
      is it really true? By extracting data from the Weather Underground API, and perform cleaning using Pandas, I perform
      data analysis to see the impact of climate change in Paris. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>